<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glfw" version="3.3.0" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.BodyTracking" version="1.1.2" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime" version="1.10.0" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.Sensor" version="1.4.1" targetFramework="native" />
</packages>
